.tituloTienda{
    padding-left: 30px;
    padding-top: 15px;
}
header{
    padding: 0px;
    font-size: 45px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
}
.navBar{
    padding: 10px;
}
.listUnordened{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}
ul li{
    margin: 0px 40px;
}
li a {
    color: purple;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
a:active{
    color: pink
}